<header class="players-header" role="banner">
  <div class="section layout-container clearfix">
    <div class="players-header__logo">
      <div class="players-header__logo-image">
      <img src="/{{ theme_path }}/images/logo.png" />
      </div>
    </div>

    <div class="players-header__menu">
      {{ primary_menu }}
    </div>
    <div class="players-header__secondary-menu">
      {{ secondary_menu }}
    </div>
  </div>
  <div class="players-header__info">
    <strong>ALWAYS PLAYERS, ALWAYS A GAME</strong><br />
    Phone: <a href="tel:647-549-2036">647-549-2036</a><br />
    63 Mack Avenue, Unit 13
    <a href="https://maps.app.goo.gl/chz1JHVF4rTbytBQ8" class="players-map-button">View Map</a>
  </div>
</header>
